<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApolloCommonsJSONParsing-Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>ApolloCommonsJSONParsing-Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Universal-Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Universal-Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DF98FA7B47628F9D2894228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C35647523CEAD5921C8079B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
